body{
    margin: 0;
    padding: 0;
    text-align:center;
}
h1{
    font-size: 30px;
    font-weight: bold;
}
.poet{
    font-size: 20px;
    color: gray;
}
#amazing1{
    color: red;
}
